<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head"/>
<body class="woocommerce">
<div id="page-wrapper">

    <!--navigation bar-->
    <div th:replace="common/navigation :: navbar"/>

    <div class="page-title-container">
        <div class="page-title">
            <div class="container">
                <h1 class="entry-title">Thời Trang <span th:text="${gioitinh}"></span></h1>

            </div>
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Trang chủ</a></li>
            <li class="active"><a>Thời trang <span th:text="${gioitinh}"></span></a></li>
        </ul>
    </div>

    <!--content-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="widget box">
                        <h4>Danh mục sản phẩm</h4>
                        <ul class="filter-categories panel-group">
                            <li class="category-has-children" th:each="parentCate : ${categoryList}">
                                <a th:href="${parentCate.hrefId}" data-toggle="collapse"
                                   th:text="${parentCate.name}"></a>
                                <ul th:id="${parentCate.id}" class="collapse">
                                    <li th:each="childCate : ${subCategoryList}"
                                        th:if="${childCate.category.id} == ${parentCate.id}">
                                        <a th:href="@{/getProductByCategory(id=${childCate.category.id},gender=${gender})}"><span
                                                th:text="${childCate.name}"></span></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                    <div class="widget box">
                        <h4>Sản phẩm bán chạy</h4>

                        <ul class="product-list-widget">
                            <li th:each="product : ${hotProductList}">
                                <div class="product-image">
                                    <a th:href="@{/productDetail(id=${product.id})}">
                                        <img th:src="${product.urlImage}" alt=""/>
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h6 class="product-title" th:text="${product.name}"><a href="#">Everyday Scoop
                                        Neck Cami</a></h6>
                                    <span class="product-price" th:text="${product.price}">$18.99</span>
                                    <span class="star-rating" title="4" data-toggle="tooltip">
                                            <span data-stars="4"></span>
                                        </span>
                                </div>
                            </li>
                        </ul>


                    </div>

                    <div class="widget box">
                        <h4>Sản phẩm mới nhất</h4>

                        <ul class="product-list-widget">
                            <li th:each="product : ${newProductList}">
                                <div class="product-image">
                                    <a th:href="@{/productDetail(id=${product.id})}">
                                        <img th:src="${product.urlImage}" alt=""/>
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h6 class="product-title" th:text="${product.name}"><a href="#">Everyday Scoop
                                        Neck Cami</a></h6>
                                    <span class="product-price" th:text="${product.price}">$18.99</span>
                                    <span class="star-rating" title="4" data-toggle="tooltip">
                                            <span data-stars="4"></span>
                                        </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="image-banner box">
                        <div class="image-container" th:if="${gioitinh} == 'Nam'">
                            <img th:src="@{/image/slides/bannernam.jpg}" alt=""/>
                        </div>
                        <div class="image-container" th:if="${gioitinh} == 'Nữ'">
                            <img th:src="@{/image/slides/bannernu.jpg}" alt=""/>
                        </div>
                        <div class="caption-wrapper position-left">
                            <div class="captions">
                            </div>
                        </div>
                    </div>

                    <form method="get" class="woocommerce-ordering box">
                        <select class="orderby selector" name="orderby">
                            <option value="popularity">Sắp xếp: Phổ biến</option>
                            <option value="rating">Sắp xếp: Xếp hạng</option>
                            <option selected="selected" value="date">Sắp xếp: Mới nhất</option>
                            <option value="price">Sắp xếp: Giá từ thấp lên cao</option>
                            <option value="price-desc">Sắp xếp: Giá từ cao xuống thấp</option>
                        </select>
                    </form>
                    <ul class="products row add-clearfix">
                        <li class="product col-sms-6 col-sm-6 col-lg-4 box"
                            th:each="productItem : ${productListGender}">
                            <a th:href="@{/productDetail(id=${productItem.id})}" class="product-image">
                                <div class="first-img">
                                    <img th:src="${productItem.urlImage}" alt=""/>
                                </div>
                            </a>
                            <div class="product-content">
                                <h5 class="product-title"><a href="#" th:text="${productItem.name}"></a></h5>
                                <span class="product-price"><span class="currency-symbol"
                                                                  th:text="${productItem.price}">dong</span>112.00</span>

                            </div>
                            <div class="product-action">
                                <a href="#" class="btn btn-add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                                    hàng</a>
                                <a href="#" class="btn btn-add-to-wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </li>

                    </ul>
                    <div class="post-pagination">
                        <a href="#" class="nav-prev disabled" onclick="return false;"></a>
                        <div class="page-links">
                            <span class="active">1</span>
                            <a href="#" data-page-num="2">2</a>
                            <a href="#" data-page-num="3">3</a>
                        </div>
                        <a href="#" class="nav-next" data-page-num="2"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="common/footer :: footer"/>
</div>

<!--import script-->
<div th:replace="common/import-script :: import-script"/>

</body>
</html>
