<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head"/>
<body class="woocommerce-checkout">
<div id="page-wrapper">
    <!--navigation bar-->
    <div th:replace="common/navigation :: navbar"/>

    <div class="page-title-container">
        <div class="page-title">
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Trang chủ</a></li>
            <li><a href="#">Giỏ hàng</a></li>
            <li class="active">Thanh toán</li>
        </ul>
    </div>

    <section id="content">
        <div class="container">
            <div class="woocommerce">
                <div class="row">
                    <form th:action="@{/checkout}" method="post">
                        <!--Left Panel-->
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <button type="submit" class="btn btn-warning btn-block">Đặt hàng
                                    </button>
                                    <p style="font-size: smaller;">
                                        Khi bạn nhấn nút đặt hàng tức là bạn đã đồng ý các <a href="#"
                                                                                              style="color: #ff6600">điều
                                        khoản</a> mua hàng của FashionStore.
                                    </p>
                                    <hr/>
                                    <h3>Tóm tắt đơn hàng</h3>
                                    <div class="row">
                                        <div class="col-xs-7 text-left">Tổng giá (*):</div>
                                        <div class="col-xs-5 text-right">
                                            $<span th:text="${shoppingCart.grandTotal}"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 text-left">Phí vận chuyển:</div>
                                        <div class="col-xs-5 text-right">
                                            <span>Miễn phí</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 text-left">
                                            <h3 style="color: darkred;">
                                                <strong>Tổng tiền: </strong>
                                            </h3>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h3>
                                                <strong style="color: darkred;">
                                                    <span th:with="total=${shoppingCart.grandTotal}" th:text="${#numbers.formatDecimal(total, 0 , 0)}"></span></strong> đồng
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="panel-footer">(*) Gía đã bao gốm thuế VAT</div>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Info -->
                        <div class="col-sm-8">
                            <div th:if="${missingRequiredField}">
                                <h5 class="alert alert-warning">
                                    Vui lòng điền đẩy đủ thông tin. Các dòng có dấu * là bắt buộc.
                                </h5>
                            </div>

                            <div class="panel-group" id="accordion">

                                <!-- 1. Shipping Address -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#shippingInfo"> 1. Địa chỉ nhận hàng </a>
                                        </h4>
                                    </div>
                                    <div id="shippingInfo" class="panel-collapse collapse"
                                         th:classappend="${classActiveShipping}? 'in'">
                                        <div class="panel-body">
                                            <table class="table" th:if="${emptyShippingList != false}">
                                                <thead>
                                                <tr>
                                                    <th>Địa chỉ nhận hàng</th>
                                                    <th>Chọn</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userShipping : ${userShippingList}">
                                                    <td
                                                            th:text="${userShipping.userShippingStreet1}+' '+${userShipping.userShippingStreet2}+', '+${userShipping.userShippingCity}"></td>
                                                    <td>
                                                        <a
                                                            th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">Dùng
                                                        địa chỉ này</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <div class="form-group">
                                                <label for="shippingName">* Họ và tên</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="shippingName"
                                                       placeholder="Nhập họ và tên"
                                                       name="shippingAddressName"
                                                       th:value="${shippingAddress.shippingAddressName}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingStreet1">* Địa chỉ 1</label>
                                                <input type="text" class="form-control" id="shippingStreet1"
                                                       placeholder="Nhập địa chỉ 1" name="shippingAddressStreet1"
                                                       th:value="${shippingAddress.shippingAddressStreet1}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingStreet2">Địa chỉ 2</label>
                                                <input type="text"
                                                       id="shippingStreet2"
                                                       class="form-control"
                                                       placeholder="Nhập địa chỉ 2" name="shippingAddressStreet2"
                                                       th:value="${shippingAddress.shippingAddressStreet2}"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="shippingCity">* Thành phố</label>
                                                        <select id="shippingCity" class="form-control"
                                                                th:name="shippingAddressCity"
                                                                th:value="${shippingAddress.shippingAddressCity}"
                                                                required="required">
                                                            <option value="" disabled="disabled"> Vui lòng chọn tên
                                                                thành phố
                                                            </option>
                                                            <option th:each="province : ${provinceList}"
                                                                    th:text="${province}"
                                                                    th:selected="(${shippingAddress.shippingAddressCity}==${province})"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <a data-toggele="collapse" data-parent="#accordion"
                                               class="btn btn-warning pull-right" href="#paymentInfo">Tiếp tục</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Payment Information -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#paymentInfo"> 2. Thông tin thanh toán </a>
                                        </h4>
                                    </div>

                                    <div id="paymentInfo" class="panel-collapse collapse"
                                         th:classappend="${classActivePayment}? 'in'">
                                        <div class="panel-body">
                                            <table class="table" th:if="${emptyPaymentList != false}">
                                                <thead>
                                                <tr>
                                                    <th>Credit Card</th>
                                                    <th>Chọn</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="userPayment : ${userPaymentList}">
                                                    <td th:text="${userPayment.cardName}"></td>
                                                    <td><a
                                                            th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">Dùng thẻ này để thanh toán
                                                        </a></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <!-- Credit Card Information -->
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/image/creditcard.png}" class="img-responsive"/><br/>
                                                    <div class="form-group">
                                                        <label for="cardType">* Chọn loại thẻ (Type of credit
                                                            card): </label> <select
                                                            class="form-control" id="cardType" name="type"
                                                            th:value="${payment.type}">
                                                        <option value="visa">Visa</option>
                                                        <option value="mastercard">Mastercard</option>
                                                        <option value="discover">Discover</option>
                                                        <option value="amex">American Express</option>
                                                    </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="cardHolder">* Tên chủ thẻ (Card holder):</label>
                                                        <input
                                                                type="text" class="form-control" id="cardHolder"
                                                                required="required" placeHolder="Nhập tên chủ thẻ"
                                                                th:name="holderName" th:value="${payment.holderName}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardNumber">* Số thẻ (Card number):</label>
                                                        <div class="input-group">
                                                            <input type="tel" class="form-control" id="cardNumber"
                                                                   required="required" placeHolder="Nhập số thẻ"
                                                                   th:name="cardNumber"
                                                                   th:value="${payment.cardNumber}"/>
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-credit-card"
                                                                    aria-hidden="true"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-7">
                                                    <div class="form-group">
                                                        <label>* Thời gian hết hạn (Expiration date)</label>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <select class="form-control" name="expiryMonth"
                                                                        required="required"
                                                                        th:value="${payment.expiryMonth}">
                                                                    <option disabled="disabled">-- Month --</option>
                                                                    <option value="01">Jan (01)</option>
                                                                    <option value="02">Feb (02)</option>
                                                                    <option value="03">Mar (03)</option>
                                                                    <option value="04">Apr (04)</option>
                                                                    <option value="05">May (05)</option>
                                                                    <option value="06">June (06)</option>
                                                                    <option value="07">July (07)</option>
                                                                    <option value="08">Aug (08)</option>
                                                                    <option value="09">Sep (09)</option>
                                                                    <option value="10">Oct (10)</option>
                                                                    <option value="11">Nov (11)</option>
                                                                    <option value="12">Dec (12)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <select class="form-control" name="expiryYear"
                                                                        th:value="${payment.expiryYear}">
                                                                    <option disabled="disabled">-- Year --</option>
                                                                    <option value="2017">2017</option>
                                                                    <option value="2018">2018</option>
                                                                    <option value="19">2019</option>
                                                                    <option value="20">2020</option>
                                                                    <option value="21">2021</option>
                                                                    <option value="22">2022</option>
                                                                    <option value="23">2023</option>
                                                                    <option value="23">2024</option>
                                                                    <option value="23">2025</option>
                                                                    <option value="23">2026</option>
                                                                    <option value="23">2027</option>
                                                                    <option value="23">2028</option>
                                                                    <option value="23">2029</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="form-group">
                                                        <label for="cardCVC">Mã CV (CV Code)</label> <input id="cardCVC"
                                                                                                            type="tel"
                                                                                                            class="form-control"
                                                                                                            name="cvc"
                                                                                                            placeholder="Nhâp mã CV"
                                                                                                            th:name="cvc"
                                                                                                            th:value="${payment.cvc}"/>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- Billing Address -->
                                            <div class="checkbox">
                                                <label>
                                                    <input id="theSameAsShippingAddress" type="checkbox"
                                                           name="billingSameAsShipping" value="true"/>
                                                    Giống với địa chỉ nhận hàng
                                                </label>
                                            </div>

                                            <div class="form-group">
                                                <label for="billingName">* Họ và tên</label> <input type="text"
                                                                                               class="form-control billingAddress"
                                                                                               id="billingName"
                                                                                               placeholder="Nhập tên"
                                                                                               th:name="billingAddressName"
                                                                                               required="required"
                                                                                               th:value="${billingAddress.billingAddressName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="billingAddress1">* Địa chỉ 1</label>
                                                <input type="text" class="form-control billingAddress" id="billingAddress1"
                                                       placeholder="Nhập địa chỉ 1" th:name="billingAddressStreet1"
                                                       required="required"
                                                       th:value="${billingAddress.billingAddressStreet1}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="billingAddress2">Địa chỉ 2</label>
                                                <input type="text" class="form-control billingAddress" id="billingAddress2"
                                                       placeholder="Nhập địa chỉ 2" th:name="billingAddressStreet2"
                                                       th:value="${billingAddress.billingAddressStreet2}"/>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="billingCity">* Thành phố</label> <select
                                                            id="billingCity" class="form-control billingAddress"
                                                            th:name="billingAddressCity"
                                                            th:value="${billingAddress.billingAddressCity}"
                                                            required="required">
                                                        <option value="" disabled="disabled">Vui lòng chọn tên thành phố
                                                        </option>
                                                        <option th:each="province : ${provinceList}"
                                                                th:text="${province}"
                                                                th:selected="(${billingAddress.billingAddressCity}==${province})"></option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <a data-toggele="collapse" data-parent="#accordion"
                                               class="btn btn-warning pull-right" href="#reviewItems">Tiếp tục</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- 3. Review Items -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#reviewItems"> 3. Xem lại đơn hàng </a>
                                        </h4>
                                    </div>
                                    <div id="reviewItems" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <h4></h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <h4>Tên</h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <h4>Màu</h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <h4>Giá</h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <h4>Số lượng</h4>
                                                </div>
                                                <div class="col-xs-2">
                                                    <h4>Xóa</h4>
                                                </div>
                                            </div>
                                            <hr/>
                                            <!-- display products in cart -->
                                            <div class="row" th:each="cartItem : ${cartItemList}">

                                                <!--image-->
                                                <div class="col-xs-2">
                                                    <!--<img class="img-responsive shelf-book" th:src="" style="width: 70px;"/>-->
                                                </div>
                                                <!--ten-->
                                                <div class="col-xs-2">
                                                    <h4 th:text="${cartItem.product.name}"></h4>
                                                </div>
                                                <!--mau-->
                                                <div class="col-xs-2">
                                                    <h4 th:text="${cartItem.color}"></h4>
                                                </div>
                                                <!--gia-->
                                                <div class="col-xs-2">
                                                    <h5 style="color: #db3208; font-size: large;">
                                                        <span th:text="${cartItem.product.price}"
                                                              th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                                                    </h5>
                                                </div>
                                                <!--so luong-->
                                                <div class="col-xs-2">
                                                    <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                                                </div>

                                                <div class="col-xs-2">
                                                    <a class="product-remove"
                                                       th:href="@{/removeItem?id=}+${cartItem.id}"><i
                                                            class="fa fa-times"></i></a>
                                                </div>
                                            </div>

                                            <hr/>
                                            <h4 class="col-xs-12 text-right">
                                                <strong style="font-size: large;">Tổng tiền (<span
                                                        th:text="${#lists.size(cartItemList)}"></span> mặt hàng):
                                                </strong>
                                                <strong>
                                                    <span><span  style="color: #db3208; font-size: large;" th:with="total=${shoppingCart.grandTotal}" th:text="${#numbers.formatDecimal(total, 0 , 0)}"></span></span> đồng
                                                </strong>
                                            </h4>
                                            <br/>
                                            <br/>
                                            <button type="submit" class="btn btn-warning btn-block">Đặt hàng
                                            </button>
                                            <p style="font-size: smaller;">
                                                Khi bạn nhấn nút đặt hàng tức là bạn đã đồng ý các <a href="#"
                                                                                                      style="color: #ff6600">điều
                                                khoản</a> mua hàng của FashionStore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="common/footer :: footer"/>
</div>

<!--import script-->
<div th:replace="common/import-script :: import-script"/>

</body>
</html>
