<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
	table {
	border-collapse: collapse;
	}
	
	table, th, td {
	border:1px solid black;}
</style>
</head>
<body>
<p>Chào <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Cám ơn bạn đã mua hàng từ cửa hàng của chúng tôi.</p>
<p>Mã số đặt hàng của bạn: <strong>#<span th:text="${order.id}"></span></strong>. Chi tiết đặt hàng:</p>
<h2>Đơn hàng: #<span th:text="${order.id}"></span></h2>
<hr/>

<table>
	<tr>
		<th>Thông tin khách hàng</th>
		<th>Thông tin thanh toán</th>
		<th>Địa chỉ nhận hàng</th>
	</tr>
	<tr>
		<td>
			<span th:text="${order.billingAddress.billingAddressName}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
			<span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
		</td>
		<td>
			<span th:text="${order.payment.holderName}"></span><br/>
			<span th:text="${order.payment.type}"></span><br/>
			<span th:text="${order.payment.cardNumber}"></span><br/>
			<span th:text="${order.payment.expiryMonth}"></span><br/>
			<span th:text="${order.payment.expiryYear}"></span><br/>
		</td>
		<td>
			<span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
			<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
		</td>
	</tr>
</table>

<h3><strong>Chi tiết hóa đơn</strong></h3>
<table>
<thead>
	<tr>
		<td class="text-center"><strong>Tên sản phẩm</strong></td>
		<td class="text-center"><strong>Giá </strong></td>
		<td class="text-center"><strong>Số lượng</strong></td>
		<td class="text-right"><strong>Thành tiền</strong></td>
	</tr>
</thead>
<tbody>
	<tr th:each="cartItem : ${cartItemList}">
		<td><span data-th-text="${cartItem.product.name}"></span></td>
		<td class="text-center">
			<span th:with="total=${cartItem.product.price}"
				  th:text="${#numbers.formatDecimal(total, 0 , 0)}">
			</span>  đ</td>
		<td class="text-center" data-th-text="${cartItem.qty}"></td>
		<td class="text-right">
			<span th:with="total=${cartItem.subtoltal}"
				  th:text="${#numbers.formatDecimal(total, 0 , 0)}">
			</span>  đ</td>
	</tr>
	<tr>
		<td class="emptyrow"></td>
		<td class="emptyrow"></td>
		<td class="emptyrow text-center"><strong>Phí vận chuyển</strong></td>
		<td class="emptyrow text-right">Miễn phí</td>
	</tr>
	<tr>
		<td class="highrow"></td>
		<td class="highrow"></td>
		<td class="highrow text-center"><strong>Tổng tiền</strong></td>
		<td>
			<strong>
			<span th:with="total=${order.orderTotal}"
				  th:text="${#numbers.formatDecimal(total, 0 , 0)}">
			</span></strong> đ
		</td>
	</tr>
</tbody>
</table>
</body>
</html>