<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head"/>
<body class="woocommerce">
<div id="page-wrapper">
    <!--navigation bar-->
    <div th:replace="common/navigation :: navbar"/>

    <div class="page-title-container">
        <div class="page-title">
        </div>
        <ul class="breadcrumbs">
            <li><a th:href="@{/}">Trang chủ</a></li>
            <li class="active"><span th:text="${product.name}"></span></li>
        </ul>
    </div>

    <!--content-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="product type-product">
                        <div class="row single-product-details">
                            <div class="product-images col-sm-5 box-lg">
                                <div id="sync1" class="owl-carousel images">
                                    <div class="item easyzoom easyzoom--overlay">
                                        <a href="http://placehold.it/1132x1296">
                                            <img th:src="${product.urlImage}" alt=""/>
                                        </a>
                                    </div>


                                </div>
                                <div id="sync2" class="owl-carousel post-slider style3 thumbnails" data-items="4">
                                    <div class="item" th:each="productimages : ${productImagesList}" th:if="${productimages.product.id} == ${product.id}">
                                        <a href="#"><img th:src="${productimages.urlImage}" alt=""/></a>
                                    </div>

                                </div>
                            </div>
                            <div class="summary entry-summary col-sm-7 box-lg">
                                <div class="clearfix">
                                    <!--name-->
                                    <h2 class="product-title entry-title" th:text="${product.name}"></h2>

                                </div>
                                <span class="product-price box" th:text="${product.price}"></span>
                                <!--description-->
                                <p th:utext="${product.description}"></p>
                                <dl class="product-meta">
                                    <dt class="product-category">Loại:</dt>
                                    <dd>Fashion</dd>
                                </dl>
                                <form class="variations-form cart" th:action="@{/addItem}" method="post">
                                    <div class="variations clearfix box">
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="st-td">
                                                <label for="chonsize">Chọn size</label>
                                            </div>
                                            <div class="st-td">
                                                <select id="chonsize" class="selector"
                                                        th:name="size"
                                                        th:value="${product.size}"
                                                        required="required">
                                                    <option th:each="sizeItem : ${sizeList}"
                                                            th:text="${sizeItem}"
                                                            th:selected="(${product.size}==${sizeItem})"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-lg-6">
                                            <div class="st-td">
                                                <label for="chonmau">Chọn màu</label>
                                            </div>
                                            <div class="st-td">
                                                <select id="chonmau" class="selector"
                                                        th:name="color"
                                                        th:value="${product.color}"
                                                        required="required">
                                                    <option th:each="colorItem : ${colorList}"
                                                            th:text="${colorItem}"
                                                            th:selected="(${product.color}==${colorItem})"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-variation-wrap">
                                        <div class="qty-wrap">
                                            <!--so luong-->
                                            <label>Số lượng</label>
                                            <input type="number" min="1" class="input-text" value="1" name="qty" required="required"/>
                                        </div>
                                        <div class="qty-wrap" style="display: none">
                                            <!--product Id-->
                                            <input type="text" style="display: none" name="id" class="input-text" th:value="${product.id}" />
                                        </div>
                                        <div class="variation-action">
                                            <button type="submit" class="btn btn-medium style1"><i
                                                    class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                            <a th:href="@{/addWishProduct(id=${product.id})}" type="submit" class="btn btn-medium style2"><i
                                                    class="fa fa-heart"></i>Thích sản phẩm này </a>
                                            <div th:if="${DoubleClick}">
                                                <strong style="color: red">Bạn đã thích sản phẩm này rồi !</strong>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="social-wrap">
                                    <label>Chia sẻ với bạn bè</label>
                                    <div class="social-icons">
                                        <a href="#" class="social-icon"><i class="fa fa-facebook has-circle"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title=""></i></a>
                                        <a href="#" class="social-icon"><i class="fa fa-google-plus has-circle"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title=""></i></a>
                                        <a href="#" class="social-icon"><i class="fa fa-twitter has-circle"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title=""></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="woocommerce-tabs tab-container vertical-tab clearfix box">
                            <ul class="tabs">
                                <li><a href="#tab3-1" data-toggle="tab">Mô tả sản phẩm</a></li>
                                <li><a href="#tab3-2" data-toggle="tab">Thông tin chi tiết</a></li>
                                <li class="active"><a href="#tab3-3" data-toggle="tab">Nhận xét</a></li>
                                <li><a href="#tab3-4" data-toggle="tab">Thẻ sản phẩm</a></li>
                            </ul>
                            <div id="tab3-1" class="tab-content panel entry-content">
                                <div class="tab-pane">
                                    <p th:utext="${product.description}"></p>
                                </div>
                            </div>
                            <div id="tab3-2" class="tab-content panel entry-content">
                                <div class="tab-pane">
                                    <dl class="shop_attributes">
                                        <dt>Thành phần:</dt>
                                        <dd>100% Polyester</dd>
                                        <dt>Chế độ giặt:</dt>
                                        <dd>Please hand wash cool.</dd>
                                        <dt>Xuất xứ:</dt>
                                        <dd>Australia</dd>
                                        <dt class="note">Lưu ý về size:</dt>
                                        <dd>Because the GFT is a feminine cut, we recommend sticking to your usual size
                                            :)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div id="tab3-3" class="tab-content panel entry-content in active">
                                <div class="tab-pane">
                                    <div id="comments">
                                        <a href="#" class="btn btn-sm style1 btn-write-review"><i
                                                class="fa fa-pencil"></i>Viết bình luận</a>
                                        <h3>Các nhận xét về sản phẩm này</h3>
                                        <ol class="commentlist" th:each="reviewItem : ${reviewList}">
                                            <li class="comment">
                                                <div class="comment-content">
                                                    <h5 class="comment-author-name" th:text="${reviewItem.user.username}"></h5>
                                                    <span data-toggle="tooltip" class="star-rating">
                                                            <span th:attr="data-stars=${reviewItem.rating}"></span>
                                                        </span>
                                                    <span class="comment-date" th:text="${reviewItem.time}"></span>
                                                    <div class="description">
                                                        <p th:utext="${reviewItem.comment}">
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                    <div id="review_form">
                                        <form th:action="@{/add}" method="post">
                                            <a href="#" class="btn btn-sm style4 btn-back-reviews"><i class="fa fa-long-arrow-left"></i>Back To Reviews</a>
                                            <h3>Be the first to review “Geo Dream Dress”</h3>
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <div class="form-group">
                                                        <label>Rating</label>
                                                        <input type="hidden" id="review_score" />
                                                        <span class="input-star-rating">
                                                                <input type="radio" value="5" name="rating" />
                                                                <input type="radio" value="4" name="rating" />
                                                                <input type="radio" value="3" name="rating" />
                                                                <input type="radio" value="2" name="rating" />
                                                                <input type="radio" value="1" name="rating" />
                                                            </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Your review</label>
                                                        <textarea name="comment" class="input-text full-width" rows="5"></textarea>
                                                    </div>
                                                    <input type="hidden" name="id"  th:value="${product.id}" class="form-control" />
                                                    <div class="form-group">
                                                        <button class="btn style1" type="submit">Gửi bình luận</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3-4" class="tab-content panel entry-content">
                                <div class="tab-pane">
                                    <form class="add-product-tags">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <div class="form-group">
                                                    <input type="text" class="input-text full-width"
                                                           placeholder="Add your tags"/>
                                                </div>
                                                <div class="form-group">
                                                    <p>Use spaces to separate tags. Use single quotes (') for
                                                        phrases.</p>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-medium style1">Add Tags
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <h4>Sản phẩm liên quan</h4>
                        <ul class="related products row add-clearfix" >
                            <li class="product col-sms-6 col-sm-6 col-md-4 box" data-th-each="productItem : ${listProduct}">
                                <a class="product-image" th:href="@{/productDetail(id=${productItem.id})}">
                                    <div class="first-img">
                                        <img alt="" th:src="${productItem.urlImage}"/>
                                    </div>

                                </a>
                                <div class="product-content">
                                    <h5 class="product-title" th:text="${productItem.name}"><a href="#"></a></h5>
                                    <span class="product-price" th:text="${productItem.price}"><span class="currency-symbol">$</span>112.00</span>
                                    <!--<span class="star-rating" title="" data-toggle="tooltip" data-original-title="4">-->
                                            <!--<span data-stars="4"></span>-->
                                        <!--</span>-->
                                </div>
                                <div class="product-action">
                                    <!--<a class="btn btn-add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
                                    <!--<a class="btn btn-add-to-wishlist" href="#"><i class="fa fa-heart"></i></a>-->
                                    <!--<a href="ajax/woocommerce-product-quickview.html" class="btn btn-quick-view"><i class="fa fa-search"></i></a>-->
                                    <!--<a class="btn btn-compare" href="#"><i class="fa fa-star-half-o"></i></a>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="widget box">
                        <h4>Sản phẩm bán chạy</h4>
                        <div th:each="producthot : ${listProduct}">
                            <ul class="product-list-widget" th:switch="${producthot.status}">
                                <li th:case="'Hot'">
                                    <div class="product-image">
                                        <a th:href="@{/productDetail(id=${producthot.id})}">
                                            <img th:src="${producthot.urlImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-title" th:text="${producthot.name}"><a href="#"></a></h6>
                                        <span class="product-price" th:text="${producthot.price}">$18.99</span>
                                        <!--<span class="star-rating" title="4" data-toggle="tooltip">-->
                                            <!--<span data-stars="4"></span>-->
                                        <!--</span>-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget box">
                        <h4>Sản phẩm mới nhất</h4>
                        <div th:each="producthot : ${listProduct}">
                            <ul class="product-list-widget" th:switch="${producthot.status}">
                                <li th:case="'New'">
                                    <div class="product-image">
                                        <a th:href="@{/productDetail(id=${producthot.id})}">
                                            <img th:src="${producthot.urlImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h6 class="product-title" th:text="${producthot.name}"><a href="#">Everyday Scoop Neck Cami</a></h6>
                                        <span class="product-price" th:text="${producthot.price}">$18.99</span>

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="common/footer :: footer"/>
</div>

<!--import script-->
<div th:replace="common/import-script :: import-script"/>


</body>

</html>
