<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head"/>
<body>
<div id="page-wrapper">
    <!--navigation bar-->
    <div th:replace="common/navigation :: navbar" />

    <div class="page-title-container">
        <div class="page-title">
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Trang chủ</a></li>
            <li class="active">Tìm kiếm</li>
        </ul>
    </div>

    <!--content-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-12 col-md-12">
                    <div th:if="${emptyList}">
                        <p>Không tìm thấy kết quả nào.</p>
                    </div>
                    <ul class="products row add-clearfix">
                        <li class="product col-sms-6 col-sm-6 col-lg-4 box"
                            th:each="productItem : ${productList}">
                            <a th:href="@{/productDetail(id=${productItem.id})}" class="product-image">
                                <div class="first-img">
                                    <img th:src="${productItem.urlImage}" alt=""/>
                                </div>
                            </a>
                            <div class="product-content">
                                <h5 class="product-title"><a href="#" th:text="${productItem.name}"></a></h5>
                                <span class="product-price"><span class="currency-symbol"
                                                                  th:text="${productItem.price}">đồng</span>112.00</span>

                            </div>
                            <div class="product-action">
                                <!--<a href="#" class="btn btn-add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ-->
                                    <!--hàng</a>-->
                                <!--<a href="#" class="btn btn-add-to-wishlist"><i class="fa fa-heart"></i></a>-->
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="common/footer :: footer" />
</div>

<!--import script-->
<div th:replace="common/import-script :: import-script" />
</body>
</html>

