<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head"/>
<body class="woocommerce-cart">
<div id="page-wrapper">
    <!--navigation bar-->
    <div th:replace="common/navigation :: navbar"/>

    <div class="page-title-container">
        <div class="page-title">
        </div>
        <ul class="breadcrumbs">
            <li><a href="index.html">Trang chủ</a></li>
            <li class="active">Giỏ hàng</li>
        </ul>
    </div>

    <section id="content">
        <div class="container">
            <div class="woocommerce">
                <table class="shop_table cart box-sm">
                    <thead>
                    <tr>
                        <th class="product-remove">&nbsp;</th>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">Mặt hàng</th>
                        <th class="product-price">Màu</th>
                        <th class="product-color">Giá</th>
                        <th class="product-quantity">Số lượng</th>
                        <th class="product-subtotal">Thành tiền</th>
                        <th class="product-subtotal"></th>
                    </tr>
                    </thead>
                    <!--**************** display products in cart ****************-->
                    <tbody>
                    <div th:each="cartItem : ${cartItemList}">
                        <form th:action="@{/updateCartItem}" method="post">
                            <tr class="cart_item">

                                <!--delete button-->
                                <td class="product-remove">
                                    <a th:href="@{/removeItem?id=}+${cartItem.id}"><i class="fa fa-times"></i></a>
                                </td>
                                <!--image product-->
                                <td class="product-thumbnail">
                                    <a href="#" class="attachment-shop_thumbnail wp-post-image"><img
                                            src="http://placehold.it/58x63" alt=""/></a>
                                </td>
                                <!--name-->
                                <td class="product-name">
                                    <span th:text="${cartItem.product.name}"></span>
                                </td>
                                <!--color-->
                                <td class="product-color">
                                    <span class="amount" th:text="${cartItem.color}"></span>
                                </td>
                                <!--price-->
                                <td class="product-price">
                                    <span class="amount" th:text="${cartItem.product.price}"></span>
                                </td>
                                <!--quatity-->
                                <td class="product-quantity">
                                    <input type="text" name="id" style="display: none" th:value="${cartItem.id}"/>
                                    <input type="text" size="4"
                                           class="input-text qty text cartItemQty" title="Qty"
                                           th:value="${cartItem.qty}" name="qty"/>
                                </td>
                                <!--subtotal price-->
                                <td class="product-subtotal">
                                    <span class="amount" th:text="${cartItem.subtoltal}"></span>
                                </td>
                                <td class="product-refresh">
                                    <button type="submit" class="btn btn-warning btn-xs">Cập nhật</button>
                                </td>
                            </tr>
                        </form>
                    </div>
                    <tr class="cart_item">
                        <td class="product-remove">

                        </td>
                        <td class="product-thumbnail">

                        </td>
                        <td class="product-name">

                        </td>
                        <td class="product-color">

                        </td>
                        <td class="product-price">

                        </td>
                        <td class="product-quantity">
                            <strong style="font-size: large;">Tổng tiền: </strong>
                        </td>
                        <td class="product-subtotal">
                                <span class="amount" style="font-size: large;"
                                      th:text="${shoppingCart.grandTotal}"></span>
                        </td>
                        <td class="product-refresh">

                        </td>
                    </tr>
                    <tr>
                        <td class="actions" colspan="8">
                            <a th:href="@{/}" class="btn btn-medium style2">Tiếp tục mua hàng</a>
                            <a th:href="@{/checkout(id=${shoppingCart.id})}" class="btn btn-medium style1">Thanh toán</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="common/footer :: footer"/>
</div>

<!--import script-->
<div th:replace="common/import-script :: import-script"/>
</body>
</html>